$color-green : #63af2b;
$color-white: #fff;
$color-black: #000;
$color-grey: #eee;


// 
$fs-15px: 15px ;
$fs-20px: 20px ;
$fs-25px: 25px ;
$fs-30px: 30px ;
$fs-40px: 40px ;
// weight
$fw-bold: 900;
$fw-bolder: 700;
$fw-normal: 400;
$fw-light: 300;